.tab-navigation{
  z-index: 1;

  .icon{
    width: 28px;
    margin-left: 0.8rem;
  }

  .icon-active{
    display: none;
  }

  .tab-btn{
    @include flex-center( flex, center, center );
    margin: 0 1.7rem;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    background-color: #fff;
    color: black;

    &.btn-active{
      color: $primary-blue;

      .icon{
        display: none;
      }

      .icon-active{
        display: inline-block;
      }
    }
  }
}