body{
  margin: 0;
  font-family: 'Roboto', sans-serif;

  *{
    box-sizing: border-box;
  }

  button::-moz-focus-inner{
    border:none;
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.js-focus-visible .focus-visible {
  outline: 2px solid $outline-color;
  outline-offset: 2px;
}