/*colors*/
$tab-bg-color: #f9f9f9;
$error-color: #db1717;
$primary-lightgreen: #76c2af;
$primary-gold: #ffc107;
$primary-dark-grey: #9e9e9e;
$primary-light-grey: #d3d3d3;
/*heights*/
$tab-navigation-height: 60px;
/*width*/
$max-content-width: 700px;
/*time*/
$default-transition-time: 0.3s;