.alert-copy-message{
  flex-direction: column;

  .wrapper-alert-max-width{
    max-height: 100%;
  }

  .wrapper-alert-content{
    position: relative;
    width: 100%;
    overflow: auto;
    background-color: #efeded;
    padding: 0.25rem 0;
    max-height: calc( 100% - 40px );
  }

  .wrapper-button-copy{
    text-align: right;
    width: 100%;
  }

  .btn-copy{
    @include flex-center( inline-flex, center, center );
    @extend .default-shadow;
    @include border-radius( 3px );
    position: relative;
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
    background-color: $primary-lightgreen;
    color: #fff;

    .icon{
      width: 30px;
      margin-left: 0.3rem;
    }

    .copy-tooltip{
      @include border-radius( 3px );
      position: absolute;
      background-color: $primary-dark-grey;
      color: #fff;
      width: 100%;
      padding: 0.15rem 0.2rem;
      font-size: 0.9rem;
      transition: $default-transition-time ease-in-out;
      z-index: -1;
      transform: translate(-50%,-50%);
      top: 50%;
      left: 50%;

      &.active{
        transform: translate(-125px, -50%);
      }
    }
  }

  .hidden-copied-content{
    position: absolute;
    top: 0;
    width: 100%;
    left: -100%;
    overflow: hidden;
  }
}