.tab-scanQRCode{

  .start-scan{
    width: 110px;
    display: inline-block;
    background-color: transparent;

    .icon{
      width: 100%;
      vertical-align: middle;
    }
  }

  canvas{
    display: none;
  }

  .container-video{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.90);
    width: 100%;
    height: 100%;
    z-index: 2;

    &.active{
      @include flex-center( flex, center, center );
    }
  }

  video{
    width: 95%;
    max-height: 95%;
  }

  .on-off-light{
    @include border-radius( 5px );
    position: absolute;
    top: 1.3rem;
    right: 1.3rem;
    background-color: $primary-gold;
    padding: 0.1rem 0.4rem;
    z-index: 1;

    .icon{
      width: 40px;
      vertical-align: middle;
    }
  }

  .stop-scan{
    z-index: 1;
  }
}